									  <div class="panel-footer bg-light lter">
										<button class="btn btn-info pull-right btn-sm" add-comment>评论</button>
										
										<ul class="nav nav-pills nav-sm">
										  <li><a href=""><i class="fa fa-camera text-muted"></i></a></li>
										  <li><a href=""><i class="fa fa-video-camera text-muted"></i></a></li>
										</ul>
										
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							  <div>
								<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="{{userArr[4].userImg}}" alt="...">
								</a>          
								<div class="m-l-lg panel b-a">
								  <div class="panel-heading pos-rlt b-b b-light">
									<span class="arrow left"></span>
									<a href="">{{userArr[4].userName}}</a>
									<label class="label bg-light m-l-xs">VIP</label> 
									<span class="text-muted m-l-sm pull-right">
									  9h ago
									</span>
								  </div>
								  <div class="panel-body">
									<blockquote>
									  <p>{{userArr[4].content}}</p>
									  <small>穿起越云层的时间 <cite title="Source Title">源标题</cite></small>
									</blockquote>
									<div>穿起越云层的时间</div>
								  </div>
								</div>
							  </div>
							</div>
						  </div>