
<div class="padder">      
							<div class="streamline b-l b-info m-l-lg m-b padder-v">
							  <div>
								<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="{{userArr[1].userImg}}" class="img-circle" alt="...">
								</a>
								
								<div class="m-l-lg">
								  <div class="m-b-xs">
									<a href="" class="h4">{{userArr[1].userName}}</a>
									<span class="text-muted m-l-sm pull-right">
									  现在
									</span>
								  </div>
								  <div class="m-b">
									<div>{{userArr[1].content}}</div>
									<div class="m-t-sm">
									  <a href="" class="text-muted m-xs"><i class="icon-action-redo"></i></a>
									  <a href="" class="text-muted m-xs"><i class="icon-star"></i></a>
									  <a href="" class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
									</div>
								  </div>
								</div>
							  </div>
							  

									  
									  


